<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Профиль</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>

<h1>👤 Профиль</h1>

<section class="create-task">
    <label>Никнейм</label>
    <input id="nickname">

    <label>Email</label>
    <input id="email" disabled>

    <hr>

    <label>Новый пароль</label>
    <input id="password" type="password">

    <button onclick="updateProfile()">💾 Сохранить</button>
</section>

<script src="/static/profile.js"></script>
</body>
</html>
